@model CarBook.Models.Discount

@{
    ViewData["Title"] = "Xác nhận xóa giảm giá";
}

<h1>Xác nhận xóa giảm giá</h1>

<p>Bạn có chắc chắn muốn xóa giảm giá cho sản phẩm <strong>@Model.Product.Name</strong> với tỷ lệ giảm giá <strong>@Model.Percentage%</strong> không?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a href="@Url.Action("index", "Discount")" class="btn btn-secondary">Quay lại</a>
</form>
