@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model CarBook.Models.Brand;

<div class="container">
    <h3>chỉnh sửa hãng xe</h3>
    <form method="post" asp-action="Edit">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name">Tên hãng xe</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
       

        <button type="submit" class="btn btn-primary">Lưu</button>
        <a asp-action="Index" class="btn btn-secondary">Huỷ</a>
    </form>


</div>